
<p>{{onDetect()}}</p>
<div class="cart">
    <h1>Your Cart</h1>
    <div class="table-wrapper">
        <div class="table-headers">
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Subtotal</th>
        </div>
        <app-cart-product *ngFor="let product of cartProducts" [product]=product>
            
        </app-cart-product>
        <tr>
            <td colspan="3">Total</td>
            <td style="font-weight: bold;" >{{total}}₪</td>
        </tr>
    <button>Checkout</button>
</div>
</div>