
.cart {
	
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(240, 242, 245);
	height: calc(100vh - 56.5px);
}

h1 {
	text-align: center;
}

.table-wrapper {
	background-color: white;
	padding: 1rem;
	margin: auto;
	min-width: 305px;
	max-width: 620px;
	border-radius: 20px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.table-headers {
	display: flex;
	justify-content: space-around;
}

.table-wrapper th, .table-wrapper td{
	padding: 10px;
	text-align: left;

} 

.table-wrapper:first-child {
	border-top-left-radius: 10px;
}

table th:last-child {
	border-top-right-radius: 10px;
}

.table-wrapper th {
	background-color: #f2f2f2;
}

.table-wrapper tr:nth-child(even) {
	background-color: #f2f2f2;
}

button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 2rem;
}

/* @media screen and (max-width: 600px) {
	.table-wrapper {
		width: auto;
	}
} */